/* App.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

/* App container */
.App {
  display: flex;
  width: 100%;
  height: 100vh;
}


/* Sidebar styles */
.sidebar {
  width: 300px;
  background-color: white;
  color: #934c4c;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Content styles */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  max-height: 100vh;
}

/* Back button styles */
.backButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  border-radius: 100px;
  margin-top: 10px;
}

/* Mobile view for screens with a maximum width of 600px */
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }

  .content {
    display: none;
  }

  .backButton {
    display: block;
  }
}


